$space-tiny: 5px;
$space-small: 10px;
$space-medium: 15px;
$space-large: 20px;
$space-huge: 40px;
$space-massive: 80px;

$font-size-large: 16px;
$font-size: 15px;
$font-size-small: 14px;
$font-size-tiny: 13px;

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.success-color-placeholder {
    background-color: var(--success-color);
    height: 1px;
    width: 1px;
}

.error-color-placeholder {
    background-color: var(--error-color);
    height: 1px;
    width: 1px;
}

.alternatives-panel {
    color: var(--text-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }

    a,
    button,
    .btn {
        cursor: pointer;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 12px;
        height: 12px;
        vertical-align: middle;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        border: 2px solid var(--text-color);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--text-color) transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    .alternatives-logo-container {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: $space-medium;

        .alternatives-logo {
            img {
                width: 120px;
            }
        }

        .spacer {
            flex-grow: 2;
        }

        .listening-indicator {
            animation: flicker 3s ease-in-out infinite;
            background: var(--error-color);
            border-radius: 10px;
            height: 10px;
            margin-left: $space-small;
            margin-top: $space-tiny;
            width: 10px;
        }

        .alternatives-status {
            align-self: flex-end;
            font-family: system-ui;
            font-size: $font-size-tiny;
        }
    }

    .alternatives-login-container {
        margin: 0 $space-large;

        atom-text-editor {
            margin-bottom: $space-tiny;
        }

        .alternatives-pre-login-buttons,
        .alternatives-login,
        .alternatives-register {
            input[type='text'],
            input[type='email'],
            input[type='password'] {
                display: block;
                margin-bottom: $space-tiny;
                width: calc(100% - 22px);
            }

            .btn-login-alt {
                display: inline-block;
                text-decoration: underline;
                vertical-align: middle;
            }
        }

        .alternatives-pre-login-buttons {
            button {
                display: block;
                margin-bottom: 1px;
                height: 36px;
                width: 100%;
            }

            .btn-pre-skip {
                display: block;
                margin-top: 4px;
                text-align: center;
                text-decoration: underline;
            }
        }

        .btn-login .lds-ring, .btn-register .lds-ring {
            color: var(--button-foreground-color);
            margin-left: $space-tiny;
        }

        .login-error {
            margin-bottom: $space-small;
        }
    }

    .alternatives-volume-container {
        align-items: center;
        display: flex;
        margin: 0 $space-small;

        .alternatives-listen-controls {
            display: flex;
            justify-content: space-around;
        }

        .btn-listen {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: block;

            &:focus {
                border-right: 0;
            }
        }

        .btn-menu {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: block;
            font-size: 10px;
            outline: 0;
            padding: 2px 8px;
            position: relative;

            i {
                transition: transform 0.2s;
            }

            i.active {
                transform: rotate(180deg) scaleX(-1);
            }

            &:hover .menu-dropdown a {
                color: var(--button-foreground-color);
            }

            .menu-dropdown {
                background: var(--button-background-color);
                border: 1px solid var(--button-border-color);
                border-top: none;
                left: 0;
                margin-top: $space-tiny;
                position: absolute;
                opacity: 0;
                transition: opacity 0.2s;
                z-index: 2;

                &.active {
                    opacity: 1;
                }

                a {
                    border-bottom: 1px solid var(--border-color);
                    color: var(--button-foreground);
                    font-size: $font-size-tiny;
                    display: block;
                    padding: $space-small;
                    text-align: left;
                    text-decoration: none;

                    &:hover {
                        background: var(--button-background-color-hover);
                    }
                }
            }
        }

        .alternatives-bar-container {
            flex-grow: 2;
            border: 1px solid var(--border-color);
            border-top: none;
            margin-left: $space-small;
            height: 6px;

            .alternatives-bar {
                height: 100%;
                transition: width 0.2s;
            }
        }
    }

    .nux {
        background: var(--panel-background-color);
        border: 1px solid var(--panel-border-color);
        border-radius: $space-tiny;
        padding: $space-tiny $space-small $space-small $space-small;
        margin: $space-small;

        p {
            margin-bottom: $space-small;
        }

        code {
            display: block;
            padding: 0;
            margin: 0;
            margin-left: $space-small;
            margin-bottom: $space-small;
            font-size: $font-size;
        }

        .nux-progress {
            height: 2px;
            width: $space-tiny;
            margin-bottom: 3px;
        }

        .nux-heading {
            margin-top: $space-small;
        }

        .nux-body {
            font-size: $font-size-small;
            margin-top: $space-tiny;

            a {
                text-decoration: underline;
            }
        }

        .btn-nux-back, .btn-nux-next {
            font-size: $font-size-tiny !important;
            margin-top: $space-small;
        }
    }

    .alternatives-list-container {
        .alternatives-valid-header,
        .alternatives-invalid-header {
            font-size: $font-size-small;
            margin-left: $space-small;
            margin-top: $space-large;
        }

        .alternatives-valid-header .lds-ring {
            margin-right: $space-tiny;
        }

        .alternatives-valid-list,
        .alternatives-invalid-list {
            margin-top: $space-small;
        }

        .alternative-row {
            border-bottom: solid 1px var(--border-color);
            color: var(--text-color);
            display: block;
            font-size: $font-size;
            padding: $space-small;

            &:last-child {
                border: none;
            }

            &:first-child {
                border-top: solid 1px var(--border-color);
            }

            &:hover {
                text-decoration: none;
            }

            &.invalid {
                color: var(--error-color);

                .alternative-number {
                    border-color: var(--error-color) !important;
                    color: var(--error-color) !important;
                }
            }

            &.suggestion {
                color: var(--text-color-disabled) !important;
            }

            &.invalid:hover, &.suggestion:hover {
                cursor: default;
            }

            &.suggestion:hover {
                background: inherit;
            }

            .alternative-number {
                border: solid 2px var(--text-color);
                border-radius: 50%;
                color: var(--text-color);
                display: inline-block;
                font-size: $font-size;
                font-weight: 600;
                line-height: 15px;
                margin-right: $space-small;
                padding: 4px;
                text-align: center;
                vertical-align: middle;
                width: 16px;
                height: 16px;

                .fas {
                    font-size: 12px;
                }
            }

            &.has-newline .alternative-number {
                margin-top: -4px;
                vertical-align: top;
            }

            .alternative-description {
                display: inline-block;
                font-size: $font-size;
                margin-top: -1px;
                min-height: 16px;
                vertical-align: middle;
                width: calc(100% - 44px);

                pre {
                    background: none;
                    white-space: pre-wrap;
                    font-size: $font-size;
                    word-break: keep-all;
                }

                pre.inline {
                    display: inline;
                    margin: 0;
                }

                .alternative-code {
                    display: block;
                    margin-top: $space-small;

                    pre {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}
